# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/xLiAd.DapperEx.MsSql/v15
/xLiAd.DapperEx.MsSql.Core/bin/Debug
/xLiAd.DapperEx.MsSql.Core/obj
/xLiAd.DapperEx.MsSql.Core/Publish.bat
/xLiAd.DapperEx.MsSql.Core.Samples/bin/Debug/netcoreapp2.0
/xLiAd.DapperEx.MsSql.Core.Samples/obj
/xLiAd.DapperEx.Repository/bin/Debug
/xLiAd.DapperEx.Repository/obj
/.vs/xLiAd.DapperEx.MsSql/DesignTimeBuild
