# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/xLiAd.DapperEx.MsSql/v15
/xLiAd.DapperEx.MsSql.Core/bin/Debug
/xLiAd.DapperEx.MsSql.Core/obj
/xLiAd.DapperEx.MsSql.Core/Publish.bat
/xLiAd.DapperEx.MsSql.Core.Samples/bin/Debug/netcoreapp2.0
/xLiAd.DapperEx.MsSql.Core.Samples/obj
/xLiAd.DapperEx.Repository/bin/Debug
/xLiAd.DapperEx.Repository/obj
/.vs/xLiAd.DapperEx.MsSql/DesignTimeBuild
/xLiAd.DapperEx.MsSql.Core/bin/Release
/xLiAd.DapperEx.MsSql.Core/nupkgs
/xLiAd.DapperEx.MsSql.Core.Samples/bin/Release/netcoreapp2.0
/xLiAd.DapperEx.Repository/bin/Release
/xLiAd.DapperEx.Repository/nupkgs
/.vs/config/applicationhost.config
/xLiAd.DapperEx.Repository/.vs/xLiAd.DapperEx.Repository/v15/.suo
/xLiAd.DapperEx.Repository/.vs
/xLiAd.DapperEx.QueryHelper/bin
/xLiAd.DapperEx.QueryHelper/obj
/xLiAd.DapperEx.QueryHelper.Samples/bin/Debug/netcoreapp2.1
/xLiAd.DapperEx.QueryHelper.Samples/obj
/xLiAd.DapperEx.QueryHelper/nupkgs
/xLiAd.DapperEx.QueryHelper.Samples/bin/Release/netcoreapp2.1
/xLiAd.DapperEx.MsSql.Core/发布到NUGET.bat
/xLiAd.DapperEx.QueryHelper/发布到NUGET.bat
/xLiAd.DapperEx.Repository/发布到NUGET.bat
/xLiAd.DapperEx.Repository/nupkgsSymb
/xLiAd.DapperEx.MsSql.Core/nupkgsSymb
/xLiAd.DapperEx.QueryHelper/nupkgsSymb/xLiAd.DapperEx.QueryHelper.1.1.7.symbols.nupkg
/xLiAd.DapperEx.QueryHelper/nupkgsSymb
/xLiAd.DapperEx.PostgreSql.Samples/bin/Debug/netcoreapp2.1
/xLiAd.DapperEx.PostgreSql.Samples/obj
/xLiAd.DapperEx.RepositoryPg/bin/Debug
/xLiAd.DapperEx.RepositoryPg/obj
/xLiAd.DapperEx.RepositoryPg/bin/Release
/xLiAd.DapperEx.RepositoryPg/nupkgs
/xLiAd.DapperEx.RepositoryPg/nupkgsSymb
/xLiAd.DapperEx.RepositoryPg/发布到NUGET.bat
/xLiad.DapperEx.Repository.Test/bin/Debug/netcoreapp2.1
/xLiad.DapperEx.Repository.Test/obj
/xLiad.DapperEx.PostgreSql.Test/bin/Debug/netcoreapp2.1
/xLiad.DapperEx.PostgreSql.Test/obj
/.vs/xLiAd.DapperEx.MsSql/v16
/xLiad.DapperEx.Mysql.Test/bin/Debug/netcoreapp3.0
/xLiad.DapperEx.Mysql.Test/obj
/xLiAd.DapperEx.RepositoryMysql/bin/Debug/netstandard2.0
/xLiAd.DapperEx.RepositoryMysql/obj
/xLiAd.DapperEx.RepositoryMysql/发布到NUGET.bat
/xLiAd.DapperEx.RepositoryMysql/bin/Release/netstandard2.0
/xLiAd.DapperEx.RepositoryMysql/nupkgs
/xLiAd.DapperEx.RepositoryMysql/nupkgsSymb
/xLiAd.DapperEx.RepositoryMysql/只发布到公司NUGET.bat
/xLiad.DapperEx.Oracle.Test/bin
/xLiad.DapperEx.Oracle.Test/obj
/xLiAd.DapperEx.RepositoryOracle/bin
/xLiAd.DapperEx.RepositoryOracle/obj
/xLiAd.DapperEx.RepositoryOracle/nupkgs
/xLiAd.DapperEx.RepositoryOracle/nupkgsSymb
/packages
/xLiad.DapperEx.Repository.TestFramework/bin/Debug
/xLiad.DapperEx.Repository.TestFramework/obj/Debug
/xLiad.DapperEx.TestofRecord/obj
/xLiad.DapperEx.TestofRecord/bin/Debug/net5.0
/xLiad.DapperEx.Core.Test/obj
/xLiad.DapperEx.Core.Test/bin/Debug/netcoreapp3.1
/xLiad.DapperEx.Mysql.Test/bin/Debug/netcoreapp3.1
/.vs/xLiAd.DapperEx.MsSql
